{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }],
        "flow"
    ],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "@": "./src"
            }
        }]
      ]

}
